<b>Project:</b> <b>Automator R8</b>
<b>Version:</b> <a href="https://github.com/sakhib-orzklv/automator/tree/master">AlphaBeta @master</a>
<b>Operation System:</b> <a href="https://alltor.me/viewtopic.php?t=160957">Windows</a>
<b>Programming Language:</b> <a href="https://www.python.org/">Python</a>
<b>PL Version:</b> <a href="https://docs.python.org/3.8/whatsnew/changelog.html#python-3-8-1">3.8.1</a>
<b>Github:</b> <a href="https://github.com/sakhib-orzklv/automator">Source Code</a>
<b>The Creator:</b> <a href="https://t.me/sakhib_orzklv">Genemator Sakhib</a>